.introduce{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;

    @media(max-width:1420px){
        grid-template-columns: 2fr 600px;
    }
    @media(max-width:1200px){
        grid-template-columns: 1fr 500px;
    }
    @media(max-width:1023px){
    display: flex;
        flex-direction: column;
    }
    
}


  